<div class="row">
  <div class="col-xs-12">
    <form id="client-list-add">
      <div class="row">
        <div class="col-sm-3 form-group">
          <label for="client-name">Name</label>
          <input
                  type="text"
                  id="client-name"
                  required
                  class="form-control">
        </div>

        <div class="col-sm-4 form-group">
          <label for="client-address">Address</label>
          <input
                  type="text"
                  id="client-address"
                  required
                  class="form-control">
        </div>
        <div class="col-sm-2 form-group">
          <label for="client-number">Contact Number</label>
          <input
                  type="text"
                  id="client-number"
                  required
                  class="form-control">
        </div>
        <div class="col-sm-2 form-group">
          <label for="client-car">Car Registration</label>
          <input
                  type="text"
                  id="client-car"
                  required
                  class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">Add</button>
          <button class="btn btn-danger" type="button">Delete Item</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
